.potentiometer{
  display: inline-flex;
  position: relative; 
}

.potentiometer img {
  height: 300px;
  width: 300px;
  position: absolute;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}